<div class="odeme-page">
  <div
    *ngIf="odemePageFacadeService.orders$ | async as orders; else noOrders"
    class="order-group"
  >

    <div *ngFor="let order of odemePageFacadeService.orders$ | async">
      <div *ngFor="let item of order.items">
        {{ item.product.name }}- {{ item.product.price }} - x {{ item.quantity }}
      </div>
    </div>
  </div>

  <!-- No Orders Message -->
  <ng-template #noOrders>
    <p class="no-orders-message">Bu masa için sipariş bulunamadı.</p>
  </ng-template>
</div>
