<div class="odeme-page">
  <div
    *ngIf="odemePageFacadeService.orders$ | async as orders; else noOrders"
    class="order-group"
  >
    <div
      *ngFor="let order of odemePageFacadeService.orders$ | async"
      class="mb-3"
    >
      <div class="list-group">
        <button
          type="button"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          (click)="onItemClick(item)"
          *ngFor="let item of order.items"
        >
          <span> {{ item.product.name }} - {{ item.product.price }}₺ </span>
          <span class="badge bg-primary rounded-pill"
            >x{{ item.quantity }}</span
          >
        </button>
      </div>
    </div>
  </div>

  <!-- No Orders Message -->
  <ng-template #noOrders>
    <p class="no-orders-message">Bu masa için sipariş bulunamadı.</p>
  </ng-template>
</div>
