<div class="odeme-page">
  <div
    *ngIf="odemePageFacadeService.orders$ | async as orders; else noOrders"
    class="order-group"
  >
    <div *ngFor="let order of orders" class="mb-3">
      <!-- <p class="fw-bold">Masa Siparişi:</p> -->

      <div class="order-items">
        <ul>
          <li
            *ngFor="let item of order.items"
            (click)="toggleItemSelection(item)"
            [class.selected]="isSelected(item)"
          >
            {{ item.product.name }} - {{ item.product.price }}₺ - x{{ item.quantity }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- No Orders Message -->
  <ng-template #noOrders>
    <p class="no-orders-message">Bu masa için sipariş bulunamadı.</p>
  </ng-template>
</div>
