<div id="sepetim-navbar">
  <!-- <h2 class="navbar-title">Sipariş Ekranı</h2> -->
  <h2 class="navbar-title">Masa Paneli</h2>
  <button class="close-btn" (click)="goBackToMenuPage()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="container mt-4">
  <!-- <h2 class="mb-4">All Tables</h2> -->

  <!-- Loading Indicator -->
  <div *ngIf="loading" class="alert alert-info text-center">
    Loading tables...
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>

  <!-- No Tables Found -->
  <div
    *ngIf="tables.length === 0 && !loading"
    class="alert alert-warning text-center"
  >
    <!-- No tables found. -->
     Masalar yükleniyor...
  </div>

  <!-- Tables Grid -->
  <div class="order-list d-flex flex-wrap">
    <div
      *ngFor="let table of tables"
      class="table-card"
      (click)="navigateToTableDetails(table.id)"
    >
      <div
  class="card shadow-sm d-flex align-items-center justify-content-center"
  [ngClass]="getTableStatusClass(table.id)"
>
  <h5 class="card-title">{{ table.name }}</h5>
</div>

    </div>
  </div>
</div>
