<ng-container *ngIf="currentPayment$ | async as payment">
  <div *ngIf="payment.subPayments.length > 0; else noSubPayments">
    <div
      *ngFor="let sub of payment.subPayments; let i = index"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
      "
    >
      <div>{{ sub.method | titlecase }}</div>
      <div>{{ sub.amount | currency : "TRY" : "symbol" }}</div>
      <button (click)="deleteSubPayment()">🗑</button>
    </div>
  </div>
  <ng-template #noSubPayments>
    <p style="font-style: italic; opacity: 0.6">Henüz ödeme yapılmadı.</p>
  </ng-template>
</ng-container>
