<div class="order-page-content">
  <!-- <h2 class="header">Orders</h2> -->
  <div class="order-board">
    <div class="order-backlog-container">
      <div class="order-backlog-navbar">To Do</div>
      <app-order-page-content-to-do></app-order-page-content-to-do>
    </div>

    <div class="order-backlog-container">
      <div class="order-backlog-navbar">In Progress</div>
      <app-order-page-content-in-progress></app-order-page-content-in-progress>
    </div>

    <div class="order-backlog-container">
      <!-- <div class="order-backlog-navbar">Backlog order</div> -->
      <div class="order-backlog-navbar">Tum Orderlar</div>
      <app-order-page-content-backlog></app-order-page-content-backlog>
    </div>
  </div>
</div>
