<div id="sepetim-navbar">
  <h2 class="navbar-title">
    <!-- {{ (odemePageFacadeService.table )?.name }} Sipariş Detayları -->
    {{ (tableDetailsPageFacadeService.table$ | async)?.name }} Sipariş Detayları
    (tableDetailsPageFacadeService den)
    {{ (odemePageFacadeService.orders$ | async)?.length }}
    <!-- <div *ngFor="let order of odemePageFacadeService.orders$ | async">
      {{ order.tableUUID}} adet
    </div> -->
  </h2>

  <button class="close-btn" (click)="goBack()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="page">
  <div class="main-content">
    <div class="area area-1">
      <app-odeme-page-area1></app-odeme-page-area1>
    </div>
    <div class="area area-2">
      <app-odeme-page-area2></app-odeme-page-area2>
    </div>
    <div class="area area-3">
      <app-odeme-page-area3></app-odeme-page-area3>
    </div>
  </div>
</div>
