$navbar-height: 10vh;
$bottom-bar-height: 10vh;
// $primary-color: #87764c;
$primary-color: var(--primary-color);

#sepetim-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: $primary-color;
  color: white;
  border-bottom: 3px solid #ccc;
  position: relative;
  height: $navbar-height;

  .navbar-title {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.2s ease-in-out;

    i {
      font-size: 1.5rem;
    }

    &:hover {
      color: #ccc;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  height: 80vh;

  .navbar {
    height: 10vh;
    background-color: #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
  }

  .footer {
    height: $bottom-bar-height;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: row;

    .area {
      flex: 1;
      display: flex;
      color: black;
      font-size: 1.5rem;
      // width: 100%;

      &-1 {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

        > * {
          flex: 1 1 auto;
          width: 100%;
          height: 100%;
        }
      }

      &-2 {
        border: 1px solid black;
        flex-direction: column;
        align-items: stretch;

        > * {
          flex: 1 1 auto;
        }
      }

      &-3 {
        border: 1px solid black;
      }
    }
  }
}
