<div class="order-content">
      <div *ngIf="orders.length; else noOrders" class="order-list">
        <div
          class="order-card"
          *ngFor="let order of orders"
          [ngClass]="order.status"
        >
          <div class="card-header">
            <div class="dropdown-container">
              <select
                class="order-status-dropdown"
                [ngModel]="order.status"
                (ngModelChange)="onStatusChange(order.id, $event)"
              >
                <option *ngFor="let status of statuses" [value]="status">
                  {{ status | lowercase }}
                </option>
              </select>
            </div>
          </div>
          <div class="order-header">
            <span class="order-id">Order ID: {{ order.id }}</span>
          </div>
          <div class="order-body">
            <p><strong>Table:</strong> {{ order.tableName }}</p>
            <p>
              <strong>Total Amount:</strong> {{ order.totalAmount | currency : "TRY" : "symbol" }}
            </p>
          </div>
        </div>
      </div>
      <ng-template #noOrders>
        <div class="no-orders" style="background-color: white;">
          <p>No orders available at the moment.</p>
        </div>
      </ng-template>
    </div>
