<div class="grid-item cart-area">
  <h3>Cart</h3>

  <!-- Scrollable Cart Items List -->
  <div class="cart-list">
    <div class="cart-item-card" *ngFor="let item of activeCart?.getItems(); let isLast = last">
      <span class="cart-item-name">{{ item.product.name }}</span>
      
      <!-- Quantity Control -->
      <div class="cart-item-quantity">
        <button class="quantity-btn" (click)="updateQuantity(item.product.id, item.quantity - 1)">-</button>
        <span class="quantity-number">{{ item.quantity }}</span>
        <button class="quantity-btn" (click)="updateQuantity(item.product.id, item.quantity + 1)">+</button>
      </div>

      <span class="cart-item-total">{{ item.getTotalPrice | currency: 'TRY' }}</span>
    </div>

    <!-- Show empty cart message if there are no items -->
    <p class="alert alert-warning no-items" *ngIf="activeCart?.getItems()!.length === 0">
      Cart is empty.
    </p>
  </div>

 <!-- Total & Create Order Button -->
  <div class="cart-footer">
    <strong class="cart-total">Total: {{ activeCart?.totalAmount | currency: 'TRY' }}</strong>
    <button class="order-btn" (click)="createOrder()" [disabled]="!activeCart || activeCart.getItems().length === 0">
      Sipariş Oluştur
    </button>
  </div>
</div>
