// $primary-color: #87764c;
$primary-color: var(--primary-color);
$secondary-color: #ffc107;

:host {
  display: block;
  height: 60dvh; /* Takes up 60% of the viewport height */
  overflow-y: auto; /* Enables scrolling if needed */
}

.menu-items-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 10px;
  padding: 10px;
}

.menu-item-card {
  border: 3px solid $primary-color;
  color: $primary-color;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  // Ensures text wraps instead of shortening
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  word-wrap: break-word; // Ensures text breaks properly in small containers

  &:hover {
    background-color: $secondary-color;
  }
}
