

<div class="hero-background">
  <div class="dark-overlay"></div>
  <div class="content" style="user-select: none;">
    <header id="hero-first">
      <h1>RESTAURANT QR Menü</h1>
      <p>FOOD AND BEVERAGE</p>

      <!-- <button>Hemen İncele</button> -->
    </header>
    <!-- <section id="hero-fourth">
      <button>Hemen İncele</button>
    </section> -->
    <footer id="hero-eighth" style="display: flex; gap: 10px">
      <div>
        <app-icon-button
          iconClass="fas fa-utensils"
          label="Menü"
          (clicked)="handleClick()"
        ></app-icon-button>
      </div>
      <!-- <div>
        <app-icon-button
          iconClass="fas fa-wifi"
          label="Wi-Fi"
          (clicked)="showWifiPassword()"
        ></app-icon-button>
      </div> -->
    </footer>
  </div>
</div>
