<div class="grid-container">
  <button class="grid-item" (click)="handleClick('7')">7</button>
  <button class="grid-item" (click)="handleClick('8')">8</button>
  <button class="grid-item" (click)="handleClick('9')">9</button>
  <button class="grid-item" (click)="handleClick('tumu')">tumu</button>
  <button class="grid-item" (click)="handleClick('4')">4</button>
  <button class="grid-item" (click)="handleClick('5')">5</button>
  <button class="grid-item" (click)="handleClick('6')">6</button>
  <button class="grid-item" (click)="handleClick('-')">-</button>
  <button class="grid-item" (click)="handleClick('1')">1</button>
  <button class="grid-item" (click)="handleClick('2')">2</button>
  <button class="grid-item" (click)="handleClick('3')">3</button>
  <button class="grid-item" (click)="handleClick('-')">-</button>
  <button class="grid-item" (click)="handleClick('.')">.</button>
  <button class="grid-item" (click)="handleClick('0')">0</button>
  <button class="grid-item" (click)="handleClick('sil')">sil</button>
  <!-- <button class="grid-item" (click)="handleClick('16')">16</button> -->
</div>
