
<div id="sepetim-navbar">
  <h2 class="navbar-title">{{ table!.name }} Detay</h2>
  <button class="close-btn" (click)="goBack()">
    <i class="fas fa-times"></i>
  </button>
</div>

<div class="container mt-4">


  <!-- <div *ngIf="table; else notFound">
    <div class="table-info">
      <h3>{{ table.name }}</h3>
      <p><strong>Capacity:</strong> {{ table.capacity }}</p>
    </div>
  </div> -->

  <ng-template #notFound>
    <p class="alert alert-warning text-center">Table not found.</p>
  </ng-template>

  <h3 class="mt-4">Orders for this Table</h3>

  <!-- Loading Indicator -->
  <div *ngIf="loading" class="alert alert-info text-center">
    Loading orders...
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="alert alert-danger text-center">
    {{ errorMessage }}
  </div>

  <!-- No Orders Found -->
  <div
    *ngIf="orders.length === 0 && !loading"
    class="alert alert-warning text-center"
  >
    No orders found for this table.
  </div>

  <!-- Orders Grid -->
  <div class="order-list">
    <div *ngFor="let order of orders" class="order-card">
      <div class="card shadow-sm">
        <div class="card-header">
          <span class="badge order-status">{{ order.status }}</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Order #{{ order.id }}</h5>
          <p><strong>Total:</strong> {{ order.getTotalAmount() | currency : "TRY" : "symbol" }}</p>
          <p>
            <!-- <strong>Created:</strong> {{ order.createdAt | date : "short" }} -->
          </p>
          <p>
            <!-- <strong>Updated:</strong> {{ order.updatedAt | date : "short" }} -->
          </p>

          <!-- Order Items -->
          <h6 class="mt-2">Items:</h6>
          <ul class="list-group">
            <li *ngFor="let item of order.items" class="list-group-item">
              <strong>{{ item.product.name }}</strong>
              (x{{ item.quantity }}) -
              {{ item.product.price * item.quantity | currency : "TRY" : "symbol"}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
