.odeme-page-area2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .area2-section {
    padding: 1rem;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    &.area2-section1 {
      flex: 1; // Smaller
      // background-color: #ffe6e6;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    &.area2-section2 {
      flex: 5; // Bigger
      // background-color: #e6ffe6;
      // border: 1px solid black;
      border-bottom: 1px solid black;
    }

    &.area2-section3 {
      flex: 5; // Medium
      // background-color: #e6f0ff;
      // border: 1px solid black;
    }
  }
}

.area2-section3 {
  flex: 10;
  // background-color: #e6f0ff;
  display: flex;
  flex-direction: column;
}
