<div class="page-container">
  <app-profile-page-navbar></app-profile-page-navbar>

  <p *ngIf="error" class="error-message">{{ error }}</p>

  <div class="profile-page-content">
    <div class="profile-container" *ngIf="userWithRole">
      <h2 class="profile-title">Profile</h2>

      <div class="profile-list">
        <div class="list-tile">
          <span class="list-label">UID:</span>
          <span class="list-value">{{ userWithRole.firebaseUser.uid }}</span>
        </div>

        <div class="list-tile">
          <span class="list-label">Email:</span>
          <span class="list-value">{{ userWithRole.firebaseUser.email }}</span>
        </div>

        <div class="list-tile">
          <span class="list-label">Display Name:</span>
          <span class="list-value">
            {{ userWithRole.firebaseUser.displayName || "N/A" }}
          </span>
        </div>

        <div class="list-tile">
          <span class="list-label">Photo:</span>
          <img
            *ngIf="userWithRole.firebaseUser.photoURL"
            [src]="userWithRole.firebaseUser.photoURL"
            alt="User Photo"
            class="profile-photo"
          />
        </div>

        <div class="list-tile">
          <span class="list-label">Role:</span>
          <span class="list-value">{{ userWithRole.customUser.roleName }}</span>
        </div>
      </div>

      <!-- Button Group -->
      <div class="button-group">
        <button (click)="onGoogleSignIn()" class="google-signin-btn">
          Sign in with Google
        </button>

        <!-- <button *ngIf="userWithRole?.role === 'ADMIN'" 
                (click)="handleAdminAction()" 
                class="admin-btn">
          Manage Users
        </button>

        <button *ngIf="userWithRole?.role === 'USER'" 
                (click)="handleUserAction()" 
                class="user-btn">
          View Dashboard
        </button> -->

        <button (click)="logout()" class="logout-btn">Sign out</button>
      </div>
    </div>
  </div>
</div>
